#block-menu {
  position: relative;
  background-color: $main-color;
  padding: 30px 15px;

  @media only screen and (min-width : 768px){
    padding: 5px 15px;
  }

  .field {
    display: none;

    @media only screen and (min-width : 768px){
      max-width: 680px;
      width: 100%;
      display: flex !important;
      justify-content: space-between;
      margin: auto;
    }
  }

  .field__item {
    text-align: center;

    @media only screen and (min-width : 768px) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  a {
    position: relative;
    display: inline-block;
    color: #fff;
    @include fontSize(18px);
    font-weight: 700;
    padding: 15px 0;
    transition: 0.2s;

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 13px;
      width: 0;
      height: 2px;
      background-color: $color-text-btn;
      transition: 0.1s;
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }
  }
}

/************mob-btn*************/

.mob-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 32px;
  height: 24px;
  cursor: pointer;

  @media only screen and (min-width : 768px){
    display: none;
  }

  .icon-bar {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 16.67%;
    border-radius: 2px;
    background-color: #fff;
    transform: rotate(0deg);
    transition: 0.1s ease-in-out;
  }

  .icon-bar:first-child {
    top: 0;
  }

  .icon-bar:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }

  .icon-bar:nth-child(3) {
    top: 50%;
    transform: translateY(-50%);
  }

  .icon-bar:last-child {
    bottom: 0;
  }
}

.active-mob-btn {
  .icon-bar:first-child,
  .icon-bar:last-child {
    opacity: 0;
  }

  .icon-bar:nth-child(2) {
    transform: rotate(45deg);
  }

  .icon-bar:nth-child(3) {
    transform: rotate(-45deg);
  }
}