.projects {
  position: relative;
  display: flex;
  flex-flow: wrap;

/********************text**************************/
  .text {
    width: 100%;

    @media only screen and (min-width : 768px) {
      width: calc(100% - 270px);
      margin-right: 20px;
    }

    @media only screen and (min-width : 992px){
      width: calc(100% - 340px);
      margin-right: 40px;
    }

    .title {
      margin-bottom: 20px;
    }

    .letter {
      width: 72px;
      height: 72px;
    }

    .item {
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 10px 0;
      border-bottom: 1px solid rgba(0,0,0,0.4);

      @media only screen and (min-width : 850px) {
        flex-flow: row;
        align-items: center;
      }
    }

    .question,
    .answer {
      @media only screen and (min-width : 850px) {
        width: 100%;
      }
    }

    .question {
      min-width: 96px;
      padding-top: 10px;
      padding-right: 15px;
      padding-bottom: 10px;
      @include fontSize(23px);
      font-weight: bold;

      @media only screen and (min-width : 850px) {
        width: 96px;
      }
    }

    .answer {
      @include fontSize(16px);
      font-weight: 400;

      @media only screen and (min-width : 850px) {
        max-width: 380px;
      }
    }

    ol {
      list-style: decimal;
      columns: 2;
      column-gap: 40px;
      overflow: hidden;
      padding-left: 15px;
    }

    .foot-text {
      display: flex;
      flex-flow: wrap;
      justify-content: space-between;
      align-items: center;
    }

    .total {
      margin-top: 15px;
      margin-bottom: 15px;
      margin-right: 15px;

     div {
       display: flex;
     }

      p {
        width: 95px;
        @include fontSize(18px);
      }

      span {
        @include fontSize(20px);
        font-weight: 700;
      }
    }

    .btn {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }


/********************photo**************************/
  .photo-project {
    max-width: 247px;
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;

    @media only screen and (min-width : 768px) {
      margin: 0;
    }

    .main-photo {
      display: flex;

      img {
        width: auto;
      }
    }

    .big-carousel {
      cursor: pointer;
      margin-top: 15px;

      img {
        width: auto;
        margin: 0 auto;
      }
    }

    .little-carousel {
      margin-top: 10px;

      .item {
        margin-left: 5px;
        margin-right: 5px;
      }
    }

    .item {
      height: 100%;
      outline: none;
    }
  }
}


/*************photo projects-a****************/

.projects-a {
  .main-photo {
    height: 190px;

    img {
      height: 100%;
      width: auto;
    }
  }
}