@import "bourbon";

//var font-family
$default-font-1: 'Calibri', sans-serif;
$default-font-2: 'Helvetica', sans-serif;
$default-font-3: 'HelveticaNeue', sans-serif;

//$default-font-3: 'Ubuntu', sans-serif;

//var colors
$main-color: #000;
$color-text-btn: #fff;
$color-btn: #424143;
$color-active-btn: #01c001;
$color-A: #ef4124;
$color-B: #ffcb05;
$color-CD: #00bff3;

